body {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  background: #F6F1E9;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

/* set up our two column layout, 75/25 */
.viz__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display__map {
  width: 75%;
  padding-right: 1rem;
}

.display__metadata {
  width: 25%;
}

/* the metadata column should be scrollable */
.display__metadata {
  overflow-y: scroll;
  height: 100vh;
}

/* if mobile screen, make the map 100% width and push metadata below */
@media screen and (max-width: 600px) {
  .display__map {
    width: 100%;
  }
  .display__metadata {
    width: 100%;
  }
}

.timeline-label {
  font-size: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid #333;
  margin: 1rem 0;
}

#map {
  background: lightblue;
}

.country {
  fill: transparent;
  stroke: transparent;
}

.states {
  fill: transparent;
  stroke: transparent;
}

.point {
  fill: #f2ac29;
  fill-opacity: 0.5;
  stroke: black;
}

.point:hover {
  fill-opacity: 1;
}

.tooltip {
  background: rgba(101, 104, 109, 0.9);
  border-radius: 0.2rem;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  max-width: 400px;
  padding: 0.2rem 0.4rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 300;
  visibility: hidden;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.timeline_container {
  width: 80%;
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

.slider {
  width: 100%;
}

/* styles for line chart */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* axis */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
}